
.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width:286px ;
}
.link {
    text-decoration: none;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-color-black);
    text-transform: uppercase;
}
.root :global(.active):after {
    content: "";
    width: 33px;
    display: block;
    border-bottom: 3px solid #FF4D41;
    margin-top: 10px;
    position: absolute;
 }

.logout{
    composes: button from '../../Button/button.module.css';
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-color-black);
}