.burger {
    position: fixed;
    background: var(--main-color-white);
    height: 100%;
    text-align: left;
    padding: 2rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 0;
    width: 100%;
    animation: menu 500ms forwards;
    z-index: 9999999;
    border-top: 6px solid #33C0CB;
}

@keyframes menu {
    to {
        max-width: 290px;
    }
}

.close {
    font-family: icomoon;
    position: absolute;
    right: 21px;
    top: 21px;
    cursor: pointer;
}

.close:before {
    content: '\e91b';
    font-size: 15px;
    color: #bababa;
}




